---
import { gsap } from "../lib/gsap"

interface Props {
  texts?: string[] // Make texts prop optional
}

const defaultTexts = [
  "Web Development",
  "UI/UX Design",
  "Branding",
  "SEO Optimization",
  "Content Creation",
  "Digital Marketing",
]

const { texts = defaultTexts } = Astro.props
---

<div
  class="marquee-container my-8 -skew-1 overflow-hidden bg-secondary py-8 text-on-secondary"
>
  <div class="marquee-content flex gap-4">
    {
      Array.from({ length: 4 }).map(() => (
        <div class="marquee-item flex shrink-0 gap-4">
          {texts.map((text) => (
            <>
              <span class="h2-style uppercase">{text}</span>
              <span class="h2-style">•</span>
            </>
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  .marquee-content {
    display: flex;
    width: max-content;
  }

  .marquee-item {
    white-space: nowrap;
    display: flex;
  }
</style>

<script>
  import { gsap } from "../lib/gsap"

  document.addEventListener("DOMContentLoaded", () => {
    const marqueeContent = document.querySelector(
      ".marquee-content"
    ) as HTMLElement
    const marqueeContainer = document.querySelector(
      ".marquee-container"
    ) as HTMLElement

    if (marqueeContent) {
      const contentWidth = marqueeContent.offsetWidth / 4 // Because we duplicated the content 4 times

      const tl = gsap.to(marqueeContent, {
        x: -contentWidth,
        duration: 30,
        ease: "none",
        repeat: -1,
      })

      marqueeContainer.addEventListener("mouseenter", () => tl.pause())
      marqueeContainer.addEventListener("mouseleave", () => tl.play())
    }
  })
</script>
