---
import { getEntry } from "astro:content"
import SparkleLayout from "@/layouts/sparkle-layout.astro"
import TestimonialsSlider from "./testimonial-slider.astro"

const testimonialSection = await getEntry("section", "testimonial")

if (!testimonialSection) {
  console.error(
    "Section entry 'testimonial.md' not found in content collection 'section'."
  )
  return ""
}

const { title, badge } = testimonialSection.data
---

<SparkleLayout id="testimonial" class="border-y border-surface-variant px-6 py-20 lg:px-16">
  <div class="mx-auto">
    <p class="label-caps-style mb-5 text-on-surface">[ {badge} ]</p>
    <h2 class="h1-style max-w-4xl text-on-surface uppercase">{title}</h2>
  </div>
  <TestimonialsSlider />
</SparkleLayout>
