---
import "@/styles/global.css"
import { CursorProvider } from "@/components/cursor/CursorContext.tsx"
import CustomCursor from "@/components/cursor/CustomCursor.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Huzaifa.Dev Portfolio</title>
  </head>
  <body>
    <CursorProvider client:load>
      <slot />
    </CursorProvider>
  </body>
</html>
