<div id="smooth-wrapper">
  <div id="smooth-content">
    <slot />
  </div>
</div>

<script>
  import { gsap } from "@/lib/gsap"
  import { ScrollSmoother } from "gsap/ScrollSmoother"

  gsap.registerPlugin(ScrollSmoother)

  const smoother = ScrollSmoother.create({
    wrapper: "#smooth-wrapper",
    content: "#smooth-content",
    smooth: 1.2,
    effects: true,
  })

  document.addEventListener("astro:before-swap", () => {
    smoother.revert()
  })
</script>
